# Based on full example at
# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled
__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
coverage.*

# Environments
.venv/

# IDE configurations
.vscode/

# Cache
.pytest_cache
.mypy_cache
.tox
