# Based on full example at
# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled
__pycache__

# Distribution / packaging
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage

# Environments
.venv/

# Configurations
.vscode/

# Cache
.pytest_cache
.mypy_cache
