-r requirements.txt
# Testing
pytest
tox
# Code quality
pylint   # Linter
flake8   # Linter
isort    # Import order checker
black    # Formatter
mypy     # Type checker
mccabe   # Complexity checker
coverage # Coverage checker
# Documentation
sphinx
# Other
pre-commit
